/* page contact */
#gpinfo input,#gpinfo textarea{
    border: none;
    border-bottom: solid  var(--primary);
}
#h1contact{
    margin-top: 6%;
}




/* end page contact */

#slide{
    background-color:var(--primary)
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}




/* page details */
.product-page {
    display: flex;
  }
  
  .product-image {
    width: 50%;
    padding: 20px;
  }
  
  .product-image img {
    width: 100%;
  }
  
  .product-details {
    width: 50%;
    padding: 20px;

  }
  
  .price-container{
    background-color: red;
  }
  .product-details h1 {
    margin-bottom: 10px;
  }
  
  .product-details p {
    margin-bottom: 20px;
  }
  
  .price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price-container h2 {
    margin-right: 10px;
  }
  
  .product-features {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-features li {
    margin-bottom: 10px;
  }
  



#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

/* body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */